.div-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    z-index: 998;
}

h1 {
    font-size: 4rem !important;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    filter: blur(1px);
}

.center-div {
    /*display: none;*/
}

.accordion {
    background-color: #f2f2f2 !important;
    font-weight: 600 !important;
    border: none !important;
    position: fixed;
    top: 1rem;
    left: 0;
    width: 380px;
    z-index: 999;
    border-bottom-right-radius: 35px;
}

.accordion .accordion-item {
    background-color: transparent !important;
    border: none !important;
}

.accordion .accordion-button {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    filter: invert(100%) !important;
    color: #fff !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon) !important;
}

.accordion .accordion-collapse {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
}

.accordion accordion-body {
    background-color: transparent !important;
    border: none !important;
}

.filtros-busqueda, .filtros-campos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 8rem auto 3rem;
    /*width: 380px;*/
}

.texto-buscar {
}

.texto-buscar #MainContent_TxtBuscar {
    width: 200px !important;
    height: 38px !important;
    border-radius: 10px;
}

.btn-buscar {
    width: 100px !important;
}

.filtros-campos {
    margin: 0 auto 0 !important;
}

.filtros-campos .filtros-label, .filtros-campos .filtros-value {
    width: 150px !important;
    display: flex;
    flex-direction: column;
}

.filtros-campos .filtros-label span, .filtros-campos .filtros-value select {
    min-width: 100%;
    max-width: 100%;
}

.filtros-campos .filtros-label span {
    margin: 5px 0 !important;
    max-height: 25px !important;
    height: 25px !important;
}

.filtros-campos .filtros-value select {
    text-align: center;
    margin: 5px 0 !important;
}

.galeria {
    justify-content: center;
    margin: 0 0 2rem 0;
}

.div-sub-galeria {

}

.modal-header h5 {
    text-align: center;
    width: 100%;
}

.modal-body {
    text-align: center;
}

.modal-footer .btn {
    width: 100%;
}

.filtros {
    margin-top: 0 !important;
}

.filtros label {
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 6px #000;
    font-size: 0.8rem;
    width: 100%;
    text-align: left;
}

.filtros .form-control {
    width: 200px !important;
    max-width: 200px !important;
    text-align: center !important;
    font-weight: 600 !important;
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
    border-radius: 20px !important;
    text-shadow: -1px 2px 2px #000 !important;
    box-shadow: 0px 4px 5px #000;
}

.form-control option {
    color: black !important;
    text-shadow: none !important;
}

.tarjeta {
    max-width: fit-content !important;
}

.card {
    width: 15.5rem !important;
    margin: 20px !important;
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
    filter: drop-shadow(0px 0px 5px #333) !important;
    border-radius: 50px !important;
    overflow: hidden !important;
    border: none !important;
}

.card-link {
    text-decoration: none !important;
}

h5.card-title {
    margin: 1rem 0 !important;
    text-transform: uppercase !important;
    font-size: 1.5rem !important;
}

.card-body {
    text-align: justify !important;
    background-color: #333 !important;
    color: #fff !important;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 1rem 0 !important;
    font-weight: 600;
    opacity: 0;
    z-index: 999 !important;
}

.card:hover .card-body {
    opacity: 0.9 !important;
    cursor: pointer !important;
}

.card-text {
    margin-bottom: 0 !important;
}

.div-card-txt {
    text-align: left !important;
    margin: 1rem auto !important;
}

.div-card-txt p {
    margin-bottom: 0.2rem !important;
    text-transform: uppercase;
}

.card-img-top {
    max-width: 230px !important;
    min-width: 230px !important;
    max-height: 230px !important;
    min-height: 230px !important;
    padding: 1rem !important;
    align-items: center !important;
    align-content: center !important;
    display: flex !important;
    justify-content: center !important;
}

.card-img-top img {
    border-radius: 10px !important;
}

.card a {
    border-radius: 20px !important;
    text-shadow: -4px 2px 4px #000 !important;
    background-color: #6a80037d !important;
    outline: none !important;
    border: none !important;
    filter: drop-shadow(1px 1px 0px #000) !important;
    box-shadow: -2px 2px 0px #000 !important;
}

.div-ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 2rem !important;
}

.div-ubicacion-logo {
    margin-right: 1rem !important;
}

.div-ubicacion-logo img {
    max-width: 2rem !important;
}

.div-ubicacion-texto {

}

.div-texto {
    padding: 0 1rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.div-texto-label {
    text-align: right;
}

.div-texto-value {
    text-align: left;
    padding: 0 1rem;
}

.card-btn {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.card-btn span {
    background-color: green !important;
    border: none !important;
    border-bottom: 10px solid #000 !important;
    font-weight: 600 !important;
    font-size: 1.2rem;
    text-shadow: -1px 3px 1px #000;
}

.card-btn span:active,
.card-btn span:focus-visible {
    background-color: green !important;
    outline: none !important;
}

footerTemplate {
    display: flex;
    justify-content: center;
}

.pagination-top {
    margin: 11rem 0 -8rem 0 !important;
}

.pagination-bottom {
    margin-bottom: 4rem;
}

footerTemplate ul {
    display: flex;
    justify-content: center;
}

footerTemplate ul div {
    display: flex;
    justify-content: center;
}

footerTemplate ul li {
    color: black !important;
    background-color: #333 !important;
    outline: none !important;
    border: none !important;
    border-radius: 50px !important;
}

footerTemplate ul .page-link {
    color: #fff !important;
    background-color: #333 !important;
    outline: none !important;
    border: none !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

footerTemplate ul .actual-page {
    color: #fff !important;
    background-color: #8a8a8a !important;
    outline: none !important;
    border: none !important;
    cursor: not-allowed !important;
    box-shadow: 0px 5px 2px #000 !important;
}

@media screen and (max-width: 768px) {
    .div-title {
        height: 5rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .br-h1 {
        display: block;
    }

    .accordion {
        width: fit-content !important;
        left: -10px;
        font-weight: 600;
    }

    form {
        flex-direction: column !important;
        gap: 0.5rem !important;
    }

    .galeria {
        justify-content: space-around !important;
    }

    .card-link {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 100% !important;
        min-width: 322px !important;
        max-width: 322px !important;
    }

    .div-ubicacion {
        font-size: 20px !important;
        margin-bottom: 3rem !important;
    }

    .div-texto {
        font-size: 20px !important;
    }

    .card-btn {
        font-size: 25px !important;
    }

    .card-img-top {
        max-width: 300px !important;
        min-width: 300px !important;
        max-height: 300px !important;
        min-height: 300px !important;
    }

    h5.card-title {
        font-size: 2rem !important;
        font-weight: 600 !important;
    }

    .body-content {
        padding-left: 15px !important;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem !important;
    }

    .mt-5 form {
        flex-direction: row !important;
        gap: 0.5rem !important;
    }

    .filtros label {
        text-align: center !important;
    }

    .filtros .form-control {
        width: 150px !important;
    }
}
