.banner {
    text-align: center;
    margin-bottom: 5rem;
}

.banner h1 {
    font-size: 250% !important;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    filter: blur(1px);
}

.br-h1 {
    display: none;
}

@media screen and (max-width: 500px){
    .banner-content {
        margin-top: 25px;
    }
    .banner-content h1 {
        font-size: 2rem !important;
    }
}

.typewriter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.banner-content h3 {
    color: #fff;
    text-shadow: -1px 2px 4px #000;
    text-transform: uppercase;
}

.banner-content .btn {
    font-weight: 600;
    background-color: #6a80037d !important;
    width: 200px !important;
    height: 100px !important;
    align-content: center !important;
    margin-top: 3rem !important;
    text-transform: full-width;
    text-shadow: -2px 2px 2px #000;
    border-radius: 50px;
    border: none !important;
    border-bottom: 10px solid #000 !important;
    -webkit-transition: 0.2s !important;
}

.banner-content .btn:hover {
    background-color: green !important;
    border: none !important;
    border-bottom: 10px solid #000 !important;
    -webkit-transition: 0.2s !important;
}

.banner-content .btn:active, .banner-content .btn:focus-visible {
    background-color: #6a80037d !important;
    outline: none !important;
}

#btnAdoptar {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}